@font-face {
  font-family: "DM Sans";
  src: url("assets/fonts/DM_Sans/DMSans-VariableFont_opsz,wght.ttf");
}

:root {
  /* colors */
  --color-neutral-0: hsl(0, 0%, 100%);
  --color-neutral-100: hsl(240, 24%, 96%);
  --color-neutral-200: hsl(240, 26%, 92%);
  --color-neutral-600: hsl(234, 14%, 29%);
  --color-neutral-700: hsl(235, 13%, 19%);
  --color-neutral-800: hsl(235, 14%, 15%);
  --color-neutral-900: hsl(233, 18%, 9%);
  --color-blue-400: hsl(274, 90%, 80%);
  --color-blue-500: hsl(274, 90%, 73%);
  --color-yellow-500: hsl(37, 100%, 50%);
  --color-orange-500: hsl(15, 99%, 67%);
  --color-orange-800: hsl(15, 99%, 43%);

  /* semantic */
  --body-background: url(assets/images/bg-light-theme.png);
  --body-color: var(--color-neutral-900);
  --surface: var(--color-neutral-100);
  --foreground: var(--color-neutral-700);
  --text-color: var(--color-neutral-900);
  --border: var(--color-neutral-200);
  --input-border: var(--color-neutral-900);
}

[data-theme="dark"] {
  --body-background: url(assets/images/bg-dark-theme.png);
  --body-color: var(--color-neutral-100);
  --surface: var(--color-neutral-700);
  --foreground: var(--color-neutral-200);
  --text-color: var(--color-neutral-200);
  --border: var(--color-neutral-600);
  --input-border: var(--color-neutral-0);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
  margin: 0;
}

body {
  color: var(--body-color);
  background: var(--body-background);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "DM Sans", sans-serif;
}

.container {
  max-width: 990px;
  margin: 0 auto;
  padding: 16px 16px 32px 16px;

  display: flex;
  flex-direction: column;
  gap: 40px;

  @media (width >= 40rem) {
    padding: 32px 16px 64px 16px;
    gap: 48px;
  }

  @media (width >= 64rem) {
    padding: 32px 0 64px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 30px;

  @media (width >= 40rem) {
    height: 40px;
  }
}

.logo:nth-child(2) {
  display: none;
}

[data-theme="dark"] .logo:nth-child(1) {
  display: none;
}

[data-theme="dark"] .logo:nth-child(2) {
  display: block;
}

.theme-toggle {
  width: 32px;
  height: 32px;
  background-color: var(--surface);
  border: none;
  border-radius: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  @media (width >= 40rem) {
    width: 44px;
    height: 44px;
  }
}

.theme-icon {
  width: 20px;
  height: 20px;

  @media (width >= 40rem) {
    width: 22px;
    height: 22px;
  }
}

.theme-icon:nth-child(2) {
  display: none;
}

[data-theme="dark"] .theme-icon:nth-child(1) {
  display: none;
}

[data-theme="dark"] .theme-icon:nth-child(2) {
  display: block;
}

.title {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -1px;
  max-width: 12ch;
  margin-inline: auto;
  text-align: center;

  @media (width >= 40rem) {
    font-size: 4rem;
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.textarea {
  background-color: var(--surface);
  color: var(--foreground);
  width: 100%;
  height: 200px;
  padding: 20px;
  border: 2px solid var(--border);
  border-radius: 12px;
  resize: none;
  cursor: pointer;

  font-family: inherit;
  font-size: 1.25rem;
  line-height: 1.4;
  letter-spacing: -0.6px;
}

.textarea::placeholder {
  color: var(--foreground);
}

textarea:focus {
  outline: none;
  border: 2px solid var(--color-blue-500);
  box-shadow: 0 0 10px 0 var(--color-blue-400);
}

.textarea.error-state {
  outline: none;
  border: 1px solid var(--color-orange-500);
  box-shadow: 0 0 8px 0 var(--color-orange-500);
}

.error {
  display: flex;
  align-items: center;
  gap: 8px;

  color: var(--color-orange-500);
  font-size: 1rem;
  line-height: 1.3;
  letter-spacing: -0.6px;
}

.error.hidden {
  display: none;
}

.error-icon {
  width: 14px;
  height: 18px;
}

.options {
  height: 29px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;

  font-size: 1rem;
  line-height: 1.3;
  letter-spacing: -0.6px;

  @media (width >= 40rem) {
    flex-direction: row;
  }
}

.option {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;

  @media (width >= 40rem) {
    flex-direction: row;
    gap: 24px;
  }
}

.option__label {
  display: flex;
  align-items: center;
  gap: 10px;
}

.option__checkbox {
  width: 16px;
  height: 16px;
  appearance: none;
  border: 1px solid var(--input-border);
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.option__checkbox:focus {
  box-shadow: 0 0 0 2px var(--color-neutral-0), 0 0 0 4px var(--color-blue-400);
  background-color: var(--color-neutral-0);
}

.option__checkbox:checked {
  background-color: var(--color-blue-500);
  color: var(--color-neutral-900);
  border: none;
}

.option__checkbox:checked::after {
  content: url(assets/images/icon-check.svg);
  width: 12px;
  height: 12px;
}

.option__character-limit {
  display: none;
  color: inherit;
  background-color: transparent;
  width: 55px;
  height: 29px;
  padding: 4px 12px;
  border: 1px solid var(--color-neutral-600);
  border-radius: 6px;
  outline: none;

  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: -0.3px;
}

.character-limit-checkbox:checked + .option__character-limit {
  display: block;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  appearance: none;
  -moz-appearance: textfield;
}

.stats-density__container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.stats {
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media (width >= 40rem) {
    flex-direction: row;
  }
}

.stat {
  width: 100%;
  height: 130px;
  color: var(--color-neutral-900);
  padding: 20px;
  border-radius: 12px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;

  @media (width >= 40rem) {
    height: 150px;
    padding: 16px 12px;
  }

  @media (width >= 64rem) {
    padding: 16px;
  }
}

.stat:nth-child(1) {
  background-color: var(--color-blue-400);
  background-image: url(assets/images/pattern-character-count.svg);
  background-repeat: no-repeat;
  background-position: 118%;
}

.stat:nth-child(2) {
  background-color: var(--color-yellow-500);
  background-image: url(assets/images/pattern-word-count.svg);
  background-repeat: no-repeat;
  background-position: 118%;
}

.stat:nth-child(3) {
  background-color: var(--color-orange-500);
  background-image: url(assets/images/pattern-sentence-count.svg);
  background-repeat: no-repeat;
  background-position: 118%;
}

.stat__value {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -1px;

  @media (width >= 40rem) {
    font-size: 4rem;
  }
}

.stat__title {
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.4;
  letter-spacing: -0.6px;
}

.density {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.density__title {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.3;
  letter-spacing: -1px;
}

.density__description {
  color: var(--text-color);
  font-size: 1rem;
  line-height: 1.3;
  letter-spacing: -0.6px;
}
